@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/background.jpg);
    height: 80vh;
    background-size: max(1000px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
}

.box {
    opacity: 0.74;
    background-color: black;
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0px;
}

nav img {
    position: relative;
    z-index: 10;
    color: red;
    width: 110px;
    margin-top: 10px;
}

nav button,
nav select {
    position: relative;
    z-index: 10;

}

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
    height: calc(100% - 62px);
    font-family: 'Martel Sans', sans-serif;
    gap: 15px;
    padding: 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.separator {
    background-color: rgb(55, 55, 55);
    height: 3px;
    margin-top: -40px;
}

.language{
    background-color: rgba(23,23,23,0.7);
    color: white;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 6px 30px 6px 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

input{
    background-color: rgba(23,23,23,0.7);
    color: white;
    padding:10px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 5px;
}
.secondmain{
    display:flex;
    justify-content: center;
    align-items: center;
    height:auto;
    gap:10px;
    margin-top: 0px;
}
.first{
    background-image:url(https://occ-0-6246-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABV634RJ705XipxQXbUOmWTlPM6NMLGOMgv8O6-1mpxjUiHuGTO8aU_smM_58vn7E3eNAHVvWJq0PdI-Nfb186hH-lCfPKhOAdpg.webp?r=92a);
    height:30vh;
    width:200px;
    object-fit: cover;
    background-repeat:no-repeat;
    transition: transform 0.3s;
    background-position: center;   /* Center */
    background-size: cover;   
}
.second{
    background-image:url(https://occ-0-6246-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABY63h-h1Gon9p3n_dSWmou2ZyN__EntViMFXWrNen_vEcZGZ7-_P9_z-hxdiUdzgbN83VIT29Y9tL6qEg5MJryhB2k6k1kxsyeFMlH5GvvBIqaqk_qc8LS0XezttgoZGS2hX.webp?r=58c);
    height:30vh;
    width:200px;
    object-fit: cover;
    background-repeat:no-repeat;
    transition: transform 0.3s;
    background-position: center;   /* Center */
    background-size: cover;   
}
.third{
    background-image:url(https://occ-0-6246-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaBljvFdAV1SGGPNXCcLpojtQjNb4MKKevyP-yHCBfzIW1zsZ-8lMn0-MwNMua8X5VZ0yjjzrfAZ4QFqxDdAIcVxsnTAtj2JNIUSZt5IEgJ15eSk4YSmd0XZk0PBW_XNHsbL.webp?r=1c2);
    height:30vh;
    width:200px;
    object-fit: cover;
    background-repeat:no-repeat;
    transition: transform 0.3s;
    background-position: center;   /* Center */
    background-size: cover;   
}
.four{
    background-image:url(https://occ-0-6246-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABY_CYX46yPMYNGA4LSbVvD77ejIrQ7vIv5DvlC1-ys_pcz7S36EcshLY7bZ4alWybc9YP9hoP5iqyljC2O9s9Sfue57jQI2jD3U.webp?r=6e3);
    height:30vh;
    width:200px;
    object-fit: cover;
    background-repeat:no-repeat;
    transition: transform 0.3s;
    background-position: center;   /* Center */
    background-size: cover;   
}
.five{
    background-image:url(https://occ-0-6246-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYWfklg5D5btQoekHBjGHSFXDW_EezXrT97RnSaEwirkVnCt91QaQlcPWCxtfkSrW04hOcHguRrAMgyKTJzs2_PKkFkbs60DHC4.webp?r=05f);
    height:30vh;
    width:200px;
    object-fit: cover;
    background-repeat:no-repeat;
    transition: transform 0.3s;
    background-position: center;   /* Center */
    background-size: cover;   
}
.six{
    background-image:url(https://occ-0-6246-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfVr3AFRJUTlwiBo4JbBj1bbpf_NfEZRRvvsj0qU7aYoY8To-wi9dSY1k1bAKXIt7MuTW5ZCyoIVwxoJOMNghayVkZcqIRN59qs.webp?r=0c2);
    height:30vh;
    width:200px;
    object-fit: cover;
    background-repeat:no-repeat;
    transition: transform 0.3s;
    background-position: center;   /* Center */
    background-size: cover;   
}
.container{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.container h1{
    color: white;
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    margin:20px 0;
    margin-left: 150px;
}
.first:hover,
.second:hover,
.third:hover,
.four:hover,
.five:hover,
.six:hover{
    transform: scale(1.05);
}
.container2{
    display:flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.heading h1{
    color: white;
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    margin-top:50px;
    margin-bottom: 3px;
    margin-left: 150px;
}
.thirdmain{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.one,
.two,
.three,
.fourth{
    width: 250px;
    height: 230px;
    background: linear-gradient(145deg,#1b1f4d,#220d2d);
    border-radius: 18px;
    padding: 25px;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    transition: .3s ease;
    line-height: 1.2;
}
.one h2,
.two h2,
.three h2,
.fourth h2{
    margin-bottom: 20px;
}

.one:hover,
.two:hover,
.three:hover,
.fourth:hover{
    transform: translateY(-8px);
}